* {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: plum;
  color: #fff;
  font-family: monospace;
  margin: 0;
}

/* FULL TEXT ANIMATION */
.fulltext-animation {
  --letter: 0s;
  animation-name: fulltext-animation_kf;
  animation-duration: 1.5s;
  animation-iteration-count: 1;
  animation-timing-function: linear;
  animation-timing-function: cubic-bezier(0, 0.73, 0.91, 1.42);
  animation-delay: calc(var(--letter) * 0.1s);
  /* animation-delay: var(--delay); */
}

@keyframes fulltext-animation_kf {
  0% {
    transform: translate(0, 50px);
    opacity: 0;
  }
  /* 80% {
    transform: translate(0, -5px);
  } */
  100% {
    transform: translate(0, 0);
    opacity: 1;
  }
}

span {
  display: inline-block;
}
